<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="fission">
      <parameters>-0.63 -0.63 -0.63 0.63 0.63 0.63</parameters>
    </space>
  </source>
  <output>
    <path>/home/siyunlee/openmc/projet/src/runs/run_030</path>
  </output>
  <seed>41345</seed>
</settings>
